<header class="bg-gradient-to-r from-[#C5CAE9] via-[#D1C4E9] to-[#bba897] border-b border-gray-300 px-4 py-3 flex items-center justify-between sticky top-0 z-20 shadow-md">
  <div class="flex items-center space-x-3">
    <img src="../cocheIco.png" alt="Logo" class="h-10 w-10" />
    <span class="text-2xl font-bold text-gray-800">Autos Flukensio</span>
  </div>
  <div class="slogan-container mr-4 hidden md:block">
    <span 
      class="text-lg font-medium" 
      [ngClass]="{
        'typing': isTyping,
        'fade-out': isFading
      }">
      {{ displayedText }}
      @if (isTyping) {
        <span class="cursor">|</span>
      }
    </span>
  </div>
</header>