<nav class="bg-white border-b border-gray-300 px-4 py-3 flex items-center justify-between sticky top-16  shadow-sm">
  <div class="md:hidden">
    <button (click)="toggleMenu()" class="text-gray-700 focus:outline-none">
      @if (!isMenuOpen) {
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
      } @else {
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
      }
    </button>
  </div>
  <div class="hidden md:flex space-x-8 items-center justify-center w-full">
    <a [routerLink]="['/home']" routerLinkActive="active-link" class="nav-link">Home</a>
    <a [routerLink]="['/about']" routerLinkActive="active-link" class="nav-link">About</a>
    <a [routerLink]="['/services']" routerLinkActive="active-link" class="nav-link">Services</a>
    <a [routerLink]="['/autos']" routerLinkActive="active-link" class="nav-link">Autos</a>
    @if (!currentUser) {
    <a [routerLink]="['/login']">
      <button mat-raised-button color="primary" class="btn-primary">
        Login
      </button>
    </a>
    }
    @if (currentUser) {
    <a [routerLink]="['/dashboard']">
      <button mat-raised-button color="primary" class="btn-primary">
        {{ currentUser }}
      </button>
    </a>
    <button (click)="logout()" class="ml-4 bg-red-500 text-white px-4 py-2 rounded-lg cursor-pointer">
      Logout
    </button>
    }
  </div>
</nav>
@if (isMenuOpen) {
<div
  class="md:hidden flex flex-col space-y-4 px-6 py-4 bg-white shadow-lg rounded-b-lg mt-2 fixed w-full z-10">
  <a [routerLink]="['/home']" routerLinkActive="active-link" class="nav-link" (click)="toggleMenu()">Home</a>
  <a [routerLink]="['/about']" routerLinkActive="active-link" class="nav-link" (click)="toggleMenu()">About</a>
  <a [routerLink]="['/services']" routerLinkActive="active-link" class="nav-link" (click)="toggleMenu()">Services</a>
  <a [routerLink]="['/autos']" routerLinkActive="active-link" class="nav-link" (click)="toggleMenu()">Autos</a>
  @if (!currentUser) {
  <a [routerLink]="['/login']" (click)="toggleMenu()">
    <button mat-raised-button color="primary" class="btn-primary w-full">
      Login
    </button>
  </a>
  }
  @if (currentUser) {
  <div class="flex flex-col space-y-4">
    <a [routerLink]="['/dashboard']" (click)="toggleMenu()">
      <button mat-raised-button color="primary" class="btn-primary w-full">
        {{ currentUser }}
      </button>
    </a>
    <button (click)="logout(); toggleMenu()" class="bg-red-500 text-white px-4 py-2 rounded-lg w-full cursor-pointer">
      Logout
    </button>
  </div>
  }
</div>
}