<div class=" m-3 max-w-4xl mx-auto bg-white p-10 rounded-xl shadow-xl">
  <h2 class="text-2xl font-bold mb-6 text-center text-blue-700">Formulario de Opinión</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-8">
    
    
    <div>
      <input type="email" formControlName="email" placeholder="Email"
             class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400" />
      @if (form.controls['email'].invalid && form.controls['email'].touched) {
        <div class="text-red-500 text-sm mt-1" >
        Ingresa un email válido
      </div>
      }
      
    </div>

    <div>
      <input type="number" formControlName="age" placeholder="Edad"
             class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400" />
      @if(form.controls['age'].invalid && form.controls['age'].touched){
        <div class="text-red-500 text-sm mt-1" >
        Solo las personas mayores a 18 pueden opinar
      </div>
      }
      
    </div>

    <div>
      <label class="mr-4">
        <input type="radio" value="Masculino" formControlName="gender" class="mr-1" /> Masculino
      </label>
      <label class="mr-4">
        <input type="radio" value="Femenino" formControlName="gender" class="mr-1" /> Femenino
      </label>
      <label>
        <input type="radio" value="Otro" formControlName="gender" class="mr-1" /> Otro
      </label>
      @if (form.controls['gender'].invalid && form.controls['gender'].touched) {
        <div class="text-red-500 text-sm mt-1">
        Selecciona un género
      </div>
      }
      
    </div>

    <div>
      <textarea formControlName="opinion" placeholder="Escribe tu opinión aquí"
                rows="4"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 resize-none"></textarea>
      @if (form.controls['opinion'].invalid && form.controls['opinion'].touched) {
        <div class="text-red-500 text-sm mt-1">
        La opinión es obligatoria
      </div>
      }
      
    </div>

    <div class="text-center">
      <button type="submit"
              [disabled]="form.invalid"
              class="bg-blue-600 text-white px-10 py-4 rounded-lg hover:bg-blue-700 disabled:opacity-50 disabled:cursor-not-allowed transition text-xl">
        Enviar
      </button>
    </div>
  </form>
</div>
