<div class="contenedor-video"> 
  <iframe 
    width="560"
    height="315"
    [src]="video | domseguro: 'https://www.youtube.com/embed/'"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
</div>


<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/8FpXGOd_8u4?si=K-DvhQ6d0S63UgBm&amp;start=5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->