.custom-carousel-container {
    max-width: 900px;
    margin: 5px auto;
    height: 400px; /* reduce la altura total del carrusel */
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.carousel-img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin-top: -100px;
}
